<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DropSSDT</key>
	<string>Yes</string>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
	<key>Kernel Flags</key>
	<string>npci=0x2000 darkwake=0</string>
	<key>Timeout</key>
	<string>5</string>
	<key>USBBusFix</key>
	<string>Yes</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
	<key>device-properties</key>
	<string>450000000100000001000000390000000100000002010c00d041030a000000000101060000197fff0400160000006200750069006c0074002d0069006e0000000500000001</string>
</dict>
</plist>
