<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMUUID</key>
	<string></string>
	<key>SMbiosdate</key>
	<string>05/05/09</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBP51.88Z.007E.B05.0905051508</string>
	<key>SMboardmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F42D86C8</string>
	<key>SMfamily</key>
	<string>MacBookPro</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemmanufacturer</key>
	<string>Apple Computer Inc.</string>
	<key>SMproductname</key>
	<string>MacBookPro5,1</string>
	<key>SMserial</key>
	<string>5W4ZPC123</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
	<key>SMmemspeed</key>
	<string>800</string>
	<key>SMmaximalclock</key>
	<string>2200</string>  
  </dict>
</plist>
