<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMUUID</key>
	<string></string>
	<key>SMbiosdate</key>
	<string>03/17/08</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBA11.88Z.00BB.B03.0803171226</string>
	<key>SMboardmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F42C8CC8</string>
	<key>SMfamily</key>
	<string>MacBookAir</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemmanufacturer</key>
	<string>Apple Computer Inc.</string>
	<key>SMproductname</key>
	<string>MacBookAir1,1</string>
	<key>SMserial</key>
	<string>53HX14J</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
