<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMUUID</key>
	<string></string>
	<key>SMbiosdate</key>
	<string>01/14/09</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>IM91.88Z.008D.B00.0901142258</string>
	<key>SMboardmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F2218EC8</string>
	<key>SMfamily</key>
	<string>iMac</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemmanufacturer</key>
	<string>Apple Computer Inc.</string>
	<key>SMmemtype</key>
	<string>19</string>
	<key>SMproductname</key>
	<string>iMac9,1</string>
	<key>SMserial</key>
	<string>CK937E190TF</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
