<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
        <key>Graphics Mode</key>
        <string>1920x1200x32</string>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>Kernel Flags</key>
	<string>-v</string>
	<key>Timeout</key>
	<string>2</string>
	<key>Legacy Logo</key>
	<string>Yes</string>
	<key>GUI</key>
	<string>Yes</string>
	<key>Quiet Boot</key>
	<string>No</string>
	<key>Theme</key>
	<string>Default</string>
	<key>arch</key>
	<string>i386</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
</dict>
</plist>
