<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>EVOenabler</string>
	<key>CFBundleIdentifier</key>
	<string>com.EVOenabler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>EVOenabler</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EVOenabler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.EVOenabler</string>
			<key>IOClass</key>
			<string>com_evoenabler</string>
			<key>IOMatchCategory</key>
			<string>IOFramebuffer</string>
			<key>IONameMatch</key>
			<string>display</string>
			<key>IOPCIMatch</key>
			<string>0x00001002&amp;0x0000ffff 0x000010de&amp;0x0000ffff</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>entriesToAdd</key>
			<dict>
				<key>@0,compatible</key>
				<string>ATY,Sphyrna</string>
				<key>@0,connector-type</key>
				<string>0x00000400</string>
				<key>@0,device_type</key>
				<string>display</string>
				<key>@0,display-type</key>
				<string>0x454e4f4e</string>
				<key>@0,name</key>
				<string>ATY,Sphyrna</string>
				<key>@1,compatible</key>
				<string>ATY,Sphyrna</string>
				<key>@1,connector-type</key>
				<string>0x00000004</string>
				<key>@1,device_type</key>
				<string>display</string>
				<key>@1,display-type</key>
				<string>0x454e4f4e</string>
				<key>@1,name</key>
				<string>ATY,Sphyrna</string>
				<key>AAPL,EMC-Display-List</key>
				<data>
				AwAAAAAAAAAAAAAAAAAAAAYQAAAbkgAAAAAAAAAAAAAG
				EAAAHJIAAAAAAAAAAAAABhAAACGSAAAAAAAAAAAAAA==
				</data>
				<key>AAPL,aux-power-connected</key>
				<string>0x00000001</string>
				<key>AAPL,backlight-control</key>
				<string>0x00000000</string>
				<key>AAPL,overwrite_binimage</key>
				<integer>0</integer>
				<key>AAPL,slot-name</key>
				<data>
				U2xvdC0x
				</data>
				<key>AAPL00,blackscreen-preferences</key>
				<string>0x08000000</string>
				<key>AAPL01,Coherency</key>
				<string>0x00000002</string>
				<key>AAPL01,blackscreen-preferences</key>
				<string>0x08000000</string>
				<key>ATY,Card#</key>
				<string>109-B77101-00</string>
				<key>ATY,Copyright</key>
				<string>Copyright AMD Inc. All Rights Reserved. 2005-2008</string>
				<key>ATY,EFICompileDate</key>
				<string>Jan 26 2009</string>
				<key>ATY,EFIDispConfig</key>
				<data>
				DRAAAAAAAAA=
				</data>
				<key>ATY,EFIDriverType</key>
				<string>0x02</string>
				<key>ATY,EFIEnabledMode</key>
				<string>0x02</string>
				<key>ATY,EFIHWInitStatus</key>
				<data>
				AAAAAAAAAAA=
				</data>
				<key>ATY,EFIOrientation</key>
				<string>0x0100</string>
				<key>ATY,EFIVersion</key>
				<data>
				MDEuMDAuMzE4AA==
				</data>
				<key>ATY,EFIVersionB</key>
				<string>113-B77101-012</string>
				<key>ATY,EFIVersionE</key>
				<string>113-B7710A-318</string>
				<key>ATY,MCLK</key>
				<string>0x00112e70</string>
				<key>ATY,MemRevisionID</key>
				<string>0x0009</string>
				<key>ATY,MemVendorID</key>
				<string>0x0002</string>
				<key>ATY,PlatformInfo</key>
				<data>
				AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
				</data>
				<key>ATY,Rom#</key>
				<string>113-B7710C-176</string>
				<key>ATY,SCLK</key>
				<string>0x000bdb28</string>
				<key>ATY,VendorID</key>
				<string>0x1002</string>
				<key>device_type</key>
				<string>ATY,SphyrnaParent</string>
				<key>model</key>
				<string>ATI Radeon X1300/X1550 Series</string>
				<key>name</key>
				<string>ATY,SphyrnaParent</string>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
