<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>03/05/2008</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MB31.008E.B02.0803051832</string>
	<key>SMboardmanufacter</key>
	<string>Apple Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F22788C8</string>
	<key>SMboardversion</key>
	<string>PVT</string>
	<key>SMfamily</key>
	<string>MacBook</string>
	<key>SMmanufacter</key>
	<string>Apple Inc.</string>
	<key>SMmemspeed</key>
	<string>667</string>
	<key>SMmemtype</key>
	<string>19</string>
	<key>SMproductname</key>
	<string>MacBook3,1</string>
	<key>SMserial</key>
	<string>W8746M0AZ63</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
