<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>10/20/11</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MM51.88Z.0077.B0F.1110201309</string>
	<key>SMboardproduct</key>
	<string>Mac-8ED6AF5B48C039E1</string>
	<key>SMfamily</key>
	<string>Mac mini</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemtype</key>
	<string>24</string>
	<key>SMproductname</key>
	<string>Macmini5,1</string>
	<key>SMserial</key>
	<string>C02JX3S5DJD0</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
