<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Credits</key>
    <string>Created with Champlist</string>
    <key>EDPmodel</key>
    <string>Shuttle_XS35GT_804</string>
    <key>SMbiosdate</key>
    <string>11/07/11</string>
    <key>SMbiosvendor</key>
    <string>Apple Inc.</string>
    <key>SMbiosversion</key>
    <string>MM41.88Z.0042.B03.1111072100</string>
    <key>SMboardproduct</key>
    <string>Mac-F2208EC8</string>
    <key>SMfamily</key>
    <string>Mac mini</string>
    <key>SMmanufacturer</key>
    <string>Apple Inc.</string>
    <key>SMproductname</key>
    <string>Macmini4,1</string>
    <key>SMserial</key>
    <string>C02GM65KDD6H</string>
    <key>SMsystemversion</key>
    <string>1.0</string>
  </dict>
</plist>
