<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Copyright</key>
	<string>SMBios by 7ender @ InMac.org	Created with Champlist.app</string>
	<key>SMbiosdate</key>
	<string>03/05/08</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBP31.88Z.0070.B07.0803051658</string>
	<key>SMboardproduct</key>
	<string>Mac-F4238BC8</string>
	<key>SMfamily</key>
	<string>MacBook Pro</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMproductname</key>
	<string>MacBookPro3,1</string>
	<key>SMserial</key>
	<string>CK849437X91</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
