<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSTUsingSystemIO</key>
	<string>Yes</string>
	<key>DropSSDT</key>
	<string>Yes</string>
	<key>EnableC2State</key>
	<string>Yes</string>
	<key>EnableC3State</key>
	<string>Yes</string>
	<key>EnableC4State</key>
	<string>Yes</string>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
	<key>Kernel</key>
	<string>mach_kernel</string>
	<key>SystemType</key>
	<string>1</string>
	<key>Timeout</key>
	<string>5</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
</dict>
</plist>
