<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>Graphics Mode</key>
	<string>1366x768x32</string>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
	<key>HD4000PlatformId</key>
	<string>3</string>
	<key>Kernel Flags</key>
	<string>-v npci=0x2000 darkwake=0 -force64</string>
	<key>SystemType</key>
	<string>2</string>
	<key>Timeout</key>
	<string>5</string>
	<key>USBBusFix</key>
	<string>Yes</string>
</dict>
</plist>
