<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSTUsingSystemIO</key>
	<string>Yes</string>
	<key>EthernetBuiltIn</key>
	<string>Yes</string>
	<key>GenerateCStates</key>
	<string>Yes</string>
	<key>GeneratePStates</key>
	<string>Yes</string>
	<key>Graphics Mode</key>
	<string>1920x1200x32</string>
	<key>GraphicsEnabler</key>
	<string>Yes</string>
	<key>Kernel Flags</key>
	<string>-v</string>
	<key>Timeout</key>
	<string>2</string>
	<key>UseKernelCache</key>
	<string>Yes</string>
	<key>arch</key>
	<string>i386</string>
</dict>
</plist>
