<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMUUID</key>
	<string></string>
	<key>SMbiosdate</key>
	<string>2/29/2008</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MB21.00A5.B07</string>
	<key>SMboardmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F42C88C8</string>
	<key>SMfamily</key>
	<string>MacBook</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemmanufacturer</key>
	<string>Apple Computer Inc.</string>
	<key>SMproductname</key>
	<string>MacBook2,1</string>
	<key>SMserial</key>
	<string>5W4ZPC123</string>
	<key>SMsystemversion</key>
	<string>1.1</string>
</dict>
</plist>
