<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>07/02/07</string>
	<key>SMbiosvendor</key>
	<string>Apple Computer, Inc.</string>
	<key>SMbiosversion</key>
	<string>MP21.88Z.007F.B06.0707021348</string>
	<key>SMboardproduct</key>
	<string>Mac-F4208DC8</string>
	<key>SMfamily</key>
	<string>Mac Pro</string>
	<key>SMmanufacturer</key>
	<string>Apple Computer, Inc.</string>
	<key>SMproductname</key>
	<string>MacPro2,1</string>
	<key>SMserial</key>
	<string>CK832574XYL</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
