.console_container {
	position: 	absolute;
	width:		1200px;
	left:		25;
	top:		130;
}

.console_topbar {
	position: 	absolute;
	width: 		1183px;
	height: 	37;
	top:		9;
	left:		9;
	z-index: 	5;
	background-image: url('/images/console_topbar.png');
}
.console_pageshadow {
	position: 	absolute;
	width:		1200px;
	height:		13;
	top: 		0;
	z-index:	2;
	background-image: url('/images/console_topshadow.png');
}
.console_pageshadow {
	position: 	absolute;
	width:		1200px;
	height:		600;
	top:		13;
	z-index: 	2;
	background-image: url('/images/console_pageshadow.png');
}

.console_actual {
	position: 	absolute;
	width:		1183px;
	height:		300;
	top:		46;
	z-index: 	5;
	left: 		9;
	background: #FAFAFA;
}

.navbar {
	position: 	absolute;
	width:		100%;
	height:		95px;
	left:		0px;
	top:		20px;
	background-color: #363636;
}
.navbar_container {
	position:	absolute;
	height:		95px;
	top:		0px;
	width:		1180px;
}

.navbar_button {
	position: 	absolute;
	width:		110px;
	height:		100%;
	z-index:	2;
	top: 		0px;
    cursor:     hand;
    cursor:     pointer;
}
.navbar_button_topbar {
	position: 	absolute;
	top: 		0px;
	left:		0px;
	height: 	5px;
	width:		100%;
}
.navbar_button_text {
	position:	absolute;
	top:		40px;
	left:		0px;
	height:		20px;
	width:		100%;
	font-weight:	bold;
	font-family:	arial;
	font-size:	14px;
	vertical-align: middle;
	color:		#FFFFFF;
} 
