<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>SMbiosdate</key>
    <string>03/05/08</string>
    <key>SMbiosvendor</key>
    <string>Apple Inc.</string>
    <key>SMbiosversion</key>
    <string>MB31.008E.B02.0803051832</string>
    <key>SMboardproduct</key>
    <string>Mac-F22788C8</string>
    <key>SMfamily</key>
    <string>MacBook</string>
    <key>SMmanufacturer</key>
    <string>Apple Inc.</string>
    <key>SMproductname</key>
    <string>MacBook3,1</string>
    <key>SMserial</key>
    <string>CK8374X2Y51</string>
    <key>SMsystemversion</key>
    <string>1.0</string>
    <key>EDPmodel</key>
    <string>HP_Compaq_6910p</string>
  </dict>
</plist>
