<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>05/05/09</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBP51.88Z.007E.B05.0905051508</string>
	<key>SMboardmanufacter</key>
	<string>Apple Inc.</string>
	<key>SMboardproduct</key>
	<string>Mac-F42D86C8</string>
	<key>SMboardversion</key>
	<string>PVT</string>
	<key>SMfamily</key>
	<string>MacBook Pro</string>
	<key>SMmanufacter</key>
	<string>Apple Inc.</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemspeed</key>
	<string>800</string>
	<key>SMmemtype</key>
	<string>19</string>
	<key>SMproductname</key>
	<string>MacBookPro5,1</string>
	<key>SMserial</key>
	<string>CK9135221G0</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
