<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Credits</key>
	<string>Created with Champlist</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>MBP83.88Z.0047.B27.1201241646</string>
	<key>SMboardproduct</key>
	<string>Mac-942459F5819B171B</string>
	<key>SMfamily</key>
	<string>MacBook Pro</string>
	<key>SMproductname</key>
	<string>MacBookPro8,3</string>
	<key>SMserial</key>
	<string>C02JW458DRVC</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
